* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    background-color: #dadbd3;
    height: 100vh;
    width: 100%;
    position: absolute;
}
header{
    background-color: #009688;
    width: 100%;
    height: 150px;
    position: absolute;
}

.base-riquadro{
    background-color: #eaeaea;
    width: 1000px;
    border: solid white 3px;
    height: 800px;
    position: absolute;
    margin-left: calc(50% - 500px);
    margin-top: 30px;
    
}